<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857443027899-bgahl4uaafivi25t5eh1p2ee068tf6dk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857443027899-bgahl4uaafivi25t5eh1p2ee068tf6dk</string>
	<key>API_KEY</key>
	<string>AIzaSyBsOtb5Hg_NC05sBAOyOKxoCWs2kgkTYgk</string>
	<key>GCM_SENDER_ID</key>
	<string>857443027899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glade</string>
	<key>PROJECT_ID</key>
	<string>glade-d97a8</string>
	<key>STORAGE_BUCKET</key>
	<string>glade-d97a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857443027899:ios:80ccb2b82497aefe98529e</string>
	<key>DATABASE_URL</key>
	<string>https://glade-d97a8.firebaseio.com</string>
</dict>
</plist>